<html>

<head>
    <title>All students</title>
</head>

<body>
    <h1>All
        <%= params.length %> users:
    </h1>
    <hr>

    <div>

        <% for (var i = 0; i <= params.length-1 ; i++) { %>
            <%= params[i].username %> |
                <%= params[i].surname %> |
                    <%= params[i].email %>

                        <br><br>
                        <div style="display: flex;">
                            <form action="/user/edit/<%= params[i].id %>">
                                <button>Edit</button>
                            </form>
                            <form action="/user/delete/<%= params[i].id %>" method="GET">
                                <button >Delete</button>
                            </form>
                            <form action="/user/<%= params[i].id %>">
                                <button >See profile</button>
                            </form>

                        </div>
                        <hr>
                        <% } %>

    </div>
    <form action="/user/add">
        <button >Add students</button>
    </form>


</body>

</html>
